[Desktop Entry]
Name=Battle.net
Exec=flatpak run --command=/app/bin/faugus-launcher io.github.Faugus.faugus-launcher --game battlenet
Icon=/home/rick/.var/app/io.github.Faugus.faugus-launcher/config/faugus-launcher/icons/battlenet.ico
Type=Application
Categories=Game;
Path=/home/rick/Faugus/battlenet/drive_c/Program Files (x86)/Battle.net
