[Desktop Entry]
Name=Shadow Warrior Classic Redux
Comment=Play this game on Steam
Exec=steam steam://rungameid/225160
Icon=steam_icon_225160
Terminal=false
Type=Application
Categories=Game;
