[Desktop Entry]
Name=World War Z VR
Comment=Play this game on Steam
Exec=steam steam://rungameid/3362660
Icon=steam_icon_3362660
Terminal=false
Type=Application
Categories=Game;
